<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/grid.css">
	<link rel="stylesheet" href="css/text.css">
	<link rel="stylesheet" href="css/default.css">
	<script src="js/jquery-1.4.2.min.js"></script>
	<script src="js/jquery-ui-1.8.custom.min.js"></script>
	<script src="js/jquery.ui.selectmenu.js"></script>
	<script src="js/falcon.js"></script>
	<script src="js/template.js"></script>

	<script id="template_id" type="text/template">
		<% for(var i = 0;i<vec.length;i++){ %>
        	<li><%= i+1 %></li>
     	<% } %>
	</script>
	<script id="template_id_1" type="text/template"> 
	    <% for(var i = 0;i<rtmp_1.length;i++){ %>
	        <li>
	            <div class="one" ></div>
	        </li>
	    <% } %>
	</script>
	<script id="template_id_2" type="text/template"> 
	    <% for(var i = 0;i<rtmp_2.length;i++){ %>
	        <li>
	            <div class="one_rtmp"></div>
	        </li>
	    <% } %>
	</script>
	<script id="template_id_3" type="text/template"> 
	    <% for(var i = 0;i<rtsp_1.length;i++){ %>
	        <li>
	            <div class="rtsp_one" ></div>
	        </li>
	    <% } %>
	</script>
	<script id="template_id_4" type="text/template"> 
	    <% for(var i = 0;i<udp_1.length;i++){ %>
	        <li>
	            <div class="udp" ></div>
	        </li>
	    <% } %>
	</script>

	<style>
		#menu_ul_li li{
		  list-style:none;
		  padding:0;
		  margin:0;
		  float:left;
		  width:35px;
		}
		#menu_ul_li_1 li{
		  list-style:none;
		  padding:0;
		  margin:0;
		  float:left;
		  width:35px;
		}
		#menu_ul_li_1 li .one{
		  width:10px;
		  height:10px;
		  background-color : green;
		  border-radius: 50%;
		}

		#menu_ulli_rtmp li{
		  list-style:none;
		  padding:0;
		  margin:0;
		  float:left;
		  width:35px;
		 }
		#menu_ulli_rtmp li .one_rtmp{
		  width:10px;
		  height:10px;
		  background-color : green;
		  border-radius: 50%;
		}
		#menu_ulli_rtsp li{
		  list-style:none;
		  padding:0;
		  margin:0;
		  float:left;
		  width:35px;
		}
		#menu_ulli_rtsp li .rtsp_one{
		  width:10px;
		  height:10px;
		  background-color : green;
		  border-radius: 50%;
		}
		#menu_udp li{
		  list-style:none;
		  padding:0;
		  margin:0;
		  float:left;
		  width:35px;
		}
		#menu_udp li .udp{
		  width:10px;
		  height:10px;
		  background-color : green;
		  border-radius: 50%;
		}
	</style>
</head>
<body>
	<div class="container_24">
		<div id="header">
			<div class="grid_12" id="logo">
				<img src="images/logo_index.png" alt="logo" id="Falcon_Admin" style="display: none">
				<img src="images/logo_index_1.jpg" alt="logo" id="Falcon_Admin_1" style="display: none">
				<img src="images/logo_index_2.png" alt="logo" id="Falcon_Admin_2" style="display: none">
				<h1 id="logo_chinese" style="font-size: 33px;color: #ffffff;display: none;margin-left: 20px;">金&nbsp和&nbsp智&nbsp能&nbsp转&nbsp码&nbsp器</h1>
			</div>
			<div style="float:right; margin-right:0px; margin-top:0px; padding-right:15px; padding-top:15px; color:rgb(255,255,255)">
				<p>language:&nbsp;
					<select id='LanSle' onChange="changeLan()" >
			           <option value="Chinese" >Chinese</option>
			　　　　　 <option value="English" selected="selected">English</option>
					</select>
				</p>
				<p id="QQ_logo" style="margin-top:5px;font-size: 18px;display: none ">QQ :376440003</p>
				<p id="QQ_logo_1" style="margin-top:5px;font-size: 18px;display: none ">QQ :396413296</p>
				<p id="QQ_logo_2" style="margin-top:5px;font-size: 18px;display: none">QQ :1047314336</p>
			</div>
		</div>
		<div class="grid_24" id="quick">
		</div>
		<div class="grid_24" id="content">
			<div id="content-inner">
				<div class="grid_6" id="left">
					<ul id="menu">
						<li><h6 id="h6_un"><a href="indexE.html" id="status_display"><span>Status display</span></a></h6></li>
						<li><h6><a href="onvifE.html"><span>Onvif device discovery</span></a></h6></li>
						<li><h6><a href="playbackE.html"><span>Video playback</span></a></h6></li>
						<li><h6><a href="outputMainE.html"><span>Stream setting</span></a></h6></li>
						<li><h6><a href="setNetE.html"><span>System settings</span></a></h6>
							<ul id="menu_users">
								<li><a href="setNetE.html">Network setting</a></li>
								<li id="enablegetway" style="display: none;"><a href="setLanE.html">Lan setting</a></li>
								<li id="g4"><a href="g4SetE.html">4G settings</a></li>
								<li><a href="setPasswordE.html">Password setting</a></li>
								<li><a href="remserialE.html">Serial port passthrough</a></li>
								<li><a href="systemUpdateE.html">System update</a></li>
								<li><a href="fileRecoveryE.html">Backup files and restore</a></li>
								<li><a href="resdkE.html">Format the storage device</a></li>
								<li><a href="resetE.html">Factory data reset</a></li>
								<li><a href="rebootE.html">Restart the device</a></li>
								<li><a href="restartE.html">Time for restart</a></li>
								<li class="last"><a href="startPushE.html">Regularly push</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="grid_18" id="right">
					<div id="forms">
						<form action="" method="post">
							<div class="form">
								<div class="title">
									<h4>Status display</h4>
								</div>
								<div class="fields">
									<div class="field">
										<div class="label">
											<label>Device serial number:</label>
										</div>
										<div class="label">
											<input type="text" name="serial" id="serial" size="40" readonly="true" />
										</div>
									</div>
									<div class="field">
										<div class="label">
											<label>Software version number:</label>
										</div>
										<div class="label">
											<input type="text" name="soft_version" id="soft_version" size="40" readonly="true" />
										</div>
									</div>
									<div class="field">
										<div class="label">
											<label>public status:</label>
										</div>
										<div class="label">
											<span id="throughput"></span>
										</div>
									</div>
									<div class="field">
										<div class="label">
											<label>RTSP flow bandwidth:</label>
										</div>
										<div class="label">
											<input type="text" name="rtsp_bw" id="rtsp_bw" size="40" readonly="true" />
										</div>
									</div>
									<div class="field">
										<div class="label">
											<label>RTMP flow bandwidth:</label>
										</div>
										<div class="label">
											<input type="text" name="rtmp_bw" id="rtmp_bw" size="40" readonly="true" />
										</div>
									</div>
									<div class="field">
										<div class="label">
											<label>Running time:</label>
										</div>
										<div class="label">
											<input type="text" name="total_runtime_count" id="total_runtime_count" size="40" />
										</div>
									</div>
									<div class="field">
										<div class="label">
											<label>CPU occupancy rate:</label>
										</div>
										<div class="label">
											<input type="text" name="cpu_usage" id="cpu_usage" size="40" />
										</div>
									</div>
									<div class="field">
										<div class="label">
											<label>Memory footprint:</label>
										</div>
										<div class="label">
											<input type="text" name="mem_usage" id="mem_usage" size="40" readonly="true" />
										</div>
									</div>
									<div class="field" style="display: none;">
										<div class="label">
											<label>Input audio sampling rate:</label>
										</div>
										<div class="label">
											<input type="text" name="venc_gopTxt" id="venc_gopTxt" size="40" readonly="true" />
										</div>
									</div>
									<div class="field">
										<div class="label_dtp" style="display: inline-block; width:100px">
											<label>Stream：</label>
										</div>
										<div class="label_cpu_1">
											<ul id="menu_ul_li" style="width:580px;height:30px;margin: 0px 36px 0px 75px !important;"></ul>
										</div>
									</div>
									<div class="field">
										<div class="label_dtp" style="display: inline-block; width:100px">
											<label>RTMP state:</label>
										</div>
										<div class="label_cpu_2">
											<ul id="menu_ul_li_1" style="width:580px;height:30px;margin: 0px 36px 0px 75px !important;"></ul>
										</div>
									</div>
									<div class="field rtmp2_field">
										<div class="label_dtp_rtmp" style="display: inline-block; width:100px">
											<label>RTMP state2:</label>
										</div>
										<div class="label_cpu_rtmp">
											<ul id="menu_ulli_rtmp" style="width:580px;height:30px;margin: 0px 36px 0px 75px !important;"></ul>
										</div>
									</div>
									<div class="field">
										<div class="label_dtp" style="display: inline-block; width:100px">
											<label>RTSP state:</label>
										</div>
										<div class="label_cpu_3">
											<ul id="menu_ulli_rtsp" style="width:580px;height:30px;margin: 0px 36px 0px 75px !important;"></ul>
										</div>
									</div>
									<div class="field">
										<div class="label_dtp" style="display: inline-block; width:100px">
											<label>udp state:</label>
										</div>
										<div class="label_cpu_3">
											<ul id="menu_udp" style="width:580px;height:30px;margin: 0px 36px 0px 75px !important;"></ul>
										</div>
									</div>
									<div class="field">
										<div class="label" style="width:100px">
											<label>Tips:</label>
										</div>
										<p>Green represents normal video flow, red represents error, yellow is unconfigured!</p>
									</div>
								</div>
								<div id="lan_dhcp_Enable">
									<br>
									<div class="title">
										<h4>The device IP is disabled by DHCP!</h4>
									</div>
								</div>
								<div class="fields">
									<div class="field">
										<div class="label">
											<label>IP:</label>
										</div>
										<div class="label_cpu" id="ip">
											<input type="text" id="ipTxt" name="ipTxt" maxlength="18" />
										</div>
									</div>
									<div class="field">
										<div class="label">
											<label>Subnet mask:</label>
										</div>
										<div class="label_cpu" id="mask">
											<input type="text" id="netmaskTxt" name="netmaskTxt" maxlength="18" />
										</div>
									</div>
									<div class="field">
										<div class="label">
											<label>Gateway:</label>
										</div>
										<div class="label_cpu" id="route">
											<input type="text" id="gatewayTxt" name="gatewayTxt" maxlength="18" />
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="grid_24" id="footer"></div>
		<div class="clear"></div>
	</div>
	<script>
		
		// 入口函数
		$(function(){

			// 判断是否登陆
			var info = sessionStorage.getItem('access')
			if(!info){
				window.location.href = "loginE.html"
			}else{
				getListMessage()
				judgeNetwork()
				rtspBw()
				rtmpBw()
				getCpu()
				getMem()
				getRtmp()
				getRtmp2()
				getRtsp()
				getUdp()
			}
			
		})

		// 判断公网地址是否正常
		function judgeNetwork(){
			// 发送请求
			$.ajax({
				type:"get",
				url:"/jsonfile/ntpok",
				success:function(data){
					$("#throughput").html("Public network address normal!");
				},
				error:function(){
					$("#throughput").html("Public network address is abnormal!");
				}
			})
		}

		// 获取系统状态的信息
		function getListMessage(){
			var info = sessionStorage.getItem('access');
			$.ajax({
				type:"post",
				url:"/getConfig",
				data:info,
				success:function(data){
					var jsonobj = data;
					$("#serial").val(jsonobj.syscontrol[0].serial);
					$("#total_runtime_count").val(jsonobj.syscontrol[0].total_runtime_count);
					$("#venc_gopTxt").val(jsonobj.encode[0].aenc_param[0].aenc_samplerate);
					$("input[name='ipTxt']").val(jsonobj.ipinfo[0].eth_net.ip); 
					$("input[name='netmaskTxt']").val(jsonobj.ipinfo[0].eth_net.netmask);
					$("input[name='gatewayTxt']").val(jsonobj.ipinfo[0].eth_net.gateway);
					$("input[name='soft_version']").val(jsonobj.sysuser[0].soft_version);

					// 显示通道数量
					var vec = jsonobj.encode[0].venc_param;
					for(var j=0;j<vec.length;j++){
						var ulli = template('template_id',{vec:vec});
						$("#menu_ul_li").html(ulli);
					}

					// 显示logo
					var logo=jsonobj.syscontrol[0].display_log;
					if(logo==1){
					     $("#Falcon_Admin").show();
					     $("#logo_chinese").hide();
					     $("#QQ_logo").show();
					     document.title = 'rtsp转rtmp推流器';
					}else if(logo==0){
					     $("#Falcon_Admin").hide();
					     $("#logo_chinese").hide();
					}else if(logo==2){
					     $("#Falcon_Admin").hide();
					     $("#logo_chinese").show();
					     document.title = '金和智能转码器';
						 $(".rtmp2_field").css("display","none");
					}else if(logo==3){
					     $("#Falcon_Admin_1").show();
					     $("#logo_chinese").hide();
					     $("#QQ_logo_1").show();
					     document.title = '政凯秀直播';
					}else if(logo==4){
					     $("#Falcon_Admin_2").show();
					     $("#logo_chinese").hide();
					     $("#QQ_logo_2").show();
					     document.title = '同位onvif推流器';
					}

					// 隐藏显示局域网
					var enable = jsonobj.ipinfo[0].local_net.enable;
					if(enable == 0){
						 $("#enablegetway").css("display","none");
					}else if(enable == 1){
						 $("#enablegetway").css("display","block");
					}
				}
			})
		}

		// 获取rtsp流量带宽
		function rtspBw() {
			$.ajax({
				type:'get',
				url:'/jsonfile/rtspbw',
				dataType:'text',
				success:function(data){
					var jsonobj2 = JSON.parse(data)
					var jsonobj_bw = Number(jsonobj2)
					var jsonobj_kb = Number(jsonobj_bw*8/1024).toFixed(2);
					$("#rtsp_bw").val(jsonobj_kb+'Kbit/s');
				}
			})
		}

		// 获取rtmp流量带宽
		function rtmpBw(){
			$.ajax({
				type:'get',
				url:'/jsonfile/rtmpbw',
				dataType: 'text',
				success:function(data){
					var jsonobj2 = JSON.parse(data)
					var jsonobj_bw = Number(jsonobj2)
					var jsonobj_kb = Number(jsonobj_bw*8/1024).toFixed(2);
					$("#rtmp_bw").val(jsonobj_kb+'Kbit/s');
				}
			})
		}

		// 获取cpu占用率
		function getCpu(){
			$.ajax({
				type:'get',
				url:'/jsonfile/cpu',
				dataType:'text',
				success:function(data){
					var jsonobj2 = JSON.parse(data);
					$("#cpu_usage").val(jsonobj2);
				}
			})
		}

		// 获取内存占用率
		function getMem(){
			$.ajax({
				type:'get',
				url:'/jsonfile/mem',
				dataType:'text',
				success:function(data){
					var jsonobj2 = JSON.parse(data);
					$("#mem_usage").val(jsonobj2);
				}
			})
		}

		// 获取rtmp的信息
		function getRtmp(){
			$.ajax({
				type:'get',
				url:'/jsonfile/rtmpstatus',
				dataType:'text',
				success:function(data){
					var jsonobj3 = JSON.parse(data);
					var rtmp_1 = jsonobj3.rtmpstatus;
					var ulli_1 = template('template_id_1',{rtmp_1:rtmp_1})
					$("#menu_ul_li_1").html(ulli_1);

					for (var i = 0; i < rtmp_1.length; i++) {
                      if(rtmp_1[i] == '0'){
                          $(".one").eq(i).css("background-color","red"); 
                      }else if(rtmp_1[i] == '1'){
                          $(".one").eq(i).css("background-color","yellow"); 
                      }else if (rtmp_1[i] == '2') {
                          $(".one").eq(i).css("background-color","green");
                      }
                  }
				}
			})
		}

		// 获取rtmp2的信息
		function getRtmp2(){
			$.ajax({
				type:'get',
				url:'/jsonfile/rtmpstatus1',
				dataType:'text',
				success:function(data){
					var jsonobj3 = JSON.parse(data);
					var rtmp_2 = jsonobj3.rtmpstatus1;
					var ulli_2 = template('template_id_2',{rtmp_2:rtmp_2})
					$("#menu_ulli_rtmp").html(ulli_2);

					for (var i = 0; i < rtmp_2.length; i++) {
                      	if(rtmp_2[i] == '0'){
                          	$(".one_rtmp").eq(i).css("background-color","red"); 
                      	}else if(rtmp_2[i] == '1'){
                          	$(".one_rtmp").eq(i).css("background-color","yellow"); 
                      	}else if (rtmp_2[i] == '2') {
                          	$(".one_rtmp").eq(i).css("background-color","green");
                      	}
                  	}
				}
			})
		}

		// 获取rtsp的信息
		function getRtsp(){
			$.ajax({
				type:'get',
				url:'/jsonfile/rtspstatus',
				dataType:'text',
				success:function(data){
					var jsonobj = JSON.parse(data);
					var rtsp_1 = jsonobj.rtspstatus;
					var ulli_rtsp = template('template_id_3',{rtsp_1:rtsp_1})
					$("#menu_ulli_rtsp").html(ulli_rtsp);
					for (var i = 0; i < rtsp_1.length; i++) {
					  if(rtsp_1[i] == '0'){
					      $(".rtsp_one").eq(i).css("background-color","red"); 
					  }else if(rtsp_1[i] == '1'){
					      $(".rtsp_one").eq(i).css("background-color","yellow"); 
					  }else if (rtsp_1[i] == '2') {
					       $(".rtsp_one").eq(i).css("background-color","green");
					  }
					}
				}
			})
		}

		// 获取udp的信息
		function getUdp(){
			$.ajax({
				type:'get',
				url:'/jsonfile/udpstatus',
				dataType:'text',
				success:function(data){
					var jsonobj = JSON.parse(data);
					var udp_1 = jsonobj.udpstatus;
					var ulli_udp = template('template_id_4',{udp_1:udp_1})
					$("#menu_udp").html(ulli_udp);
					for (var i = 0; i < udp_1.length; i++) {
					  if(udp_1[i] == '0'){
					      $(".udp").eq(i).css("background-color","red"); 
					  }else if(udp_1[i] == '1'){
					      $(".udp").eq(i).css("background-color","yellow"); 
					  }else if (udp_1[i] == '2') {
					       $(".udp").eq(i).css("background-color","green");
					  }
					}
				}
			})
		}

		// 改变语言
		function changeLan() {
			var lan = $('#LanSle').val()

			if(lan == "Chinese"){
				window.location.href = "index.html";
			}else{
				window.location.href = "indexE.html";
			}
		}

	</script>
</body>
</html>